html {
    scroll-behavior: smooth;
}

body, .content, .todo-conteudo {
    margin: 0;
    padding: 0;
    margin: auto 0;
}

body {
    background-color: #b02c0c;
}

.content {
    display: none;
}

.todo-conteudo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}

.loader {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #b02c0c;
    position: absolute;
}

.loader>div {
    height: 100px;
    width: 100px;
    border: 15px solid #bd7765;
    border-top-color: #65200f;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    animation: spin 1.5s infinite linear;
}

.container {

    width: 20%;
    height: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    position: relative;
}

#t1 {
    box-shadow: 0 0 1em black;
}

#icone1, #icone2, #icone3 {
    position: absolute;
}

#icone2 {
    top: 85%;
}
#icone1, #icone3 {
    top: 80%;
}

#icone1 {
    left: 3%;
}

#icone2 {
    left: 37%;
}

#icone3 {
    left: 70%;
}

#imgIcones {
    width: 5.5vw;
}

#icone1:hover, #icone2:hover, #icone3:hover {
    transform: scale(1.2);
}

@media screen and (max-width: 1050px) {

    .container {
        width: 30%;
    }

    #icone2 {
        top: 85%;
    }
    #icone1, #icone3 {
        top: 80%;
    }
    
    #icone1 {
        left: 4%;
    }
    
    #icone2 {
        left: 38%;
    }
    
    #icone3 {
        left: 71%;
    }
    
    #imgIcones {
        width: 7.5vw;
    }
    
}

@media screen and (max-width: 900px) {

    .container {
        width: 31%;
    }

    #icone2 {
        top: 86%;
    }
    #icone1, #icone3 {
        top: 80%;
    }
    
    #icone1 {
        left: 4%;
    }
    
    #icone2 {
        left: 38%;
    }
    
    #icone3 {
        left: 71%;
    }
    
    #imgIcones {
        width: 8vw;
    }
    
}

@media screen and (max-width: 850px) {

    .container {
        width: 32.5%;
    }

    #icone2 {
        top: 86%;
    }
    #icone1, #icone3 {
        top: 80%;
    }
    
    #icone1 {
        left: 4%;
    }
    
    #icone2 {
        left: 38%;
    }
    
    #icone3 {
        left: 71%;
    }
    
    #imgIcones {
        width: 8.5vw;
    }
    
}

@media screen and (max-width: 800px) {

    .container {
        width: 35%;
    }

    #icone2 {
        top: 86%;
    }
    #icone1, #icone3 {
        top: 80%;
    }
    
    #icone1 {
        left: 4%;
    }
    
    #icone2 {
        left: 38%;
    }
    
    #icone3 {
        left: 71%;
    }
    
    #imgIcones {
        width: 9vw;
    }
    
}

@media screen and (max-width: 750px) {

    .container {
        width: 37%;
    }

    #icone2 {
        top: 86%;
    }
    #icone1, #icone3 {
        top: 80%;
    }
    
    #icone1 {
        left: 4%;
    }
    
    #icone2 {
        left: 38%;
    }
    
    #icone3 {
        left: 71%;
    }
    
    #imgIcones {
        width: 10vw;
    }
    
}

@media screen and (max-width: 700px) {

    .container {
        width: 40%;
    }

    #icone2 {
        top: 86%;
    }
    #icone1, #icone3 {
        top: 80%;
    }
    
    #icone1 {
        left: 4%;
    }
    
    #icone2 {
        left: 38%;
    }
    
    #icone3 {
        left: 71%;
    }
    
    #imgIcones {
        width: 10.3vw;
    }
    
}

@media screen and (max-width: 650px) {

    .container {
        width: 43%;
    }

    #icone2 {
        top: 86%;
    }
    #icone1, #icone3 {
        top: 80%;
    }
    
    #icone1 {
        left: 4%;
    }
    
    #icone2 {
        left: 38%;
    }
    
    #icone3 {
        left: 71%;
    }
    
    #imgIcones {
        width: 11vw;
    }
    
}

@media screen and (max-width: 600px) {

    .container {
        width: 46%;
    }

    #icone2 {
        top: 86%;
    }
    #icone1, #icone3 {
        top: 80%;
    }
    
    #icone1 {
        left: 4%;
    }
    
    #icone2 {
        left: 38%;
    }
    
    #icone3 {
        left: 71%;
    }
    
    #imgIcones {
        width: 12vw;
    }
    
}

@media screen and (max-width: 550px) {

    .container {
        width: 50.5%;
    }

    #icone2 {
        top: 86%;
    }
    #icone1, #icone3 {
        top: 80%;
    }
    
    #icone1 {
        left: 4%;
    }
    
    #icone2 {
        left: 38%;
    }
    
    #icone3 {
        left: 71%;
    }
    
    #imgIcones {
        width: 13vw;
    }
    
}

@media screen and (max-width: 500px) {

    .container {
        width: 56%;
        padding: 5%;
    }

    #icone2 {
        top: 86%;
    }
    #icone1, #icone3 {
        top: 80%;
    }
    
    #icone1 {
        left: 4%;
    }
    
    #icone2 {
        left: 38%;
    }
    
    #icone3 {
        left: 71%;
    }
    
    #imgIcones {
        width: 15vw;
    }
    
}

@media screen and (max-width: 450px) {

    .container {
        width: 80%;
        margin-top: 0%;
        padding: 5%;
    }

    #icone2 {
        top: 84%;
    }
    #icone1, #icone3 {
        top: 77%;
    }
    
    #icone1 {
        left: 8%;
    }
    
    #icone2 {
        left: 38%;
    }
    
    #icone3 {
        left: 67%;
    }
    
    #imgIcones {
        width: 22vw;
    }
    
}

@media screen and (max-width: 400px) {

    .container {
        width: 70%;
        display: flex;
        margin: 0%;
        padding: 10%;
    }

    #icone2 {
        top: 86%;
    }
    #icone1, #icone3 {
        top: 80%;
    }
    
    #icone1 {
        left: 4%;
    }
    
    #icone2 {
        left: 36%;
    }
    
    #icone3 {
        left: 69%;
    }
    
    #imgIcones {
        width: 19vw;
    }
    
}

@media screen and (max-width: 365px) {

    .container {
        width: 75vw;
        display: flex;
        margin: 0%;
        padding: 5%;
    }

    #icone2 {
        top: 84%;
    }
    #icone1, #icone3 {
        top: 76%;
    }
    
    #icone1 {
        left: 8%;
    }
    
    #icone2 {
        left: 40%;
    }
    
    #icone3 {
        left: 69%;
    }
    
    #imgIcones {
        width: 20vw;
    }
    
}

@media screen and (max-width: 340px) {

    .container, .container2 {
        width: 75vw;
        display: flex;
        margin: 0%;
        padding: 10%;
    }

    #icone2 {
        top: 82%;
    }
    #icone1, #icone3 {
        top: 76%;
    }
    
    #icone1 {
        left: 13%;
    }
    
    #icone2 {
        left: 40%;
    }
    
    #icone3 {
        left: 66%;
    }
    
    #imgIcones {
        width: 20vw;
    }
    
    
}

@media screen and (max-width: 320px) {

    .container, .container2 {
        width: 75vw;
        display: flex;
        margin: 0%;
        padding: 10%;
    }

    #icone2 {
        top: 82%;
    }
    #icone1, #icone3 {
        top: 76%;
    }
    
    #icone1 {
        left: 13%;
    }
    
    #icone2 {
        left: 40%;
    }
    
    #icone3 {
        left: 66%;
    }
    
    #imgIcones {
        width: 20vw;
    }
    
    
}

@media screen and (max-width: 300px) {

    .container {
        width: 100vw;
        display: flex;
        margin-top: 1%;
        padding: 5%;
    }

    #icone2 {
        top: 85%;
    }
    #icone1, #icone3 {
        top: 78%;
    }
    
    #icone1 {
        left: 10%;
    }
    
    #icone2 {
        left: 40%;
    }
    
    #icone3 {
        left: 68%;
    }
    
    #imgIcones {
        width: 24vw;
    }
    
    
}

@media screen and (max-width: 260px) {

    .container {
        width: 100vw;
        display: flex;
        margin-top: 15%;
        padding: 5%;
    }

    #icone2 {
        top: 85%;
    }
    #icone1, #icone3 {
        top: 78%;
    }
    
    #icone1 {
        left: 10%;
    }
    
    #icone2 {
        left: 40%;
    }
    
    #icone3 {
        left: 68%;
    }
    
    #imgIcones {
        width: 24vw;
    }
    
    
}


