html {
    scroll-behavior: smooth;
}

body, .content, .todo-conteudo {
    margin: 0;
    padding: 0;
    margin: auto 0;
}

body {
    background-color: #b02c0c;
}

.content {
    display: none;
}

.todo-conteudo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}

.loader {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #b02c0c;
    position: absolute;
}

.loader>div {
    height: 100px;
    width: 100px;
    border: 15px solid #bd7765;
    border-top-color: #65200f;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    animation: spin 1.5s infinite linear;
}

.container {

    width: 20%;
    height: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    position: relative;
}

#t1 {
    box-shadow: 0 0 1em black;
}

#icone1, #icone2, #icone3 {
    position: absolute;
}

#icone2 {
    top: 85%;
}
#icone1, #icone3 {
    top: 80%;
}

#icone1 {
    left: 3%;
}

#icone2 {
    left: 37%;
}

#icone3 {
    left: 70%;
}

#imgIcones {
    width: 5.5vw;
}

#icone1:hover, #icone2:hover, #icone3:hover {
    transform: scale(1.2);
}

@media screen and (max-width: 1050px) {

    .container, .container2 {
        width: 30%;
    }

    #icone2 {
        top: 85%;
    }
    #icone1, #icone3 {
        top: 80%;
    }
    
    #icone1 {
        left: 4%;
    }
    
    #icone2 {
        left: 38%;
    }
    
    #icone3 {
        left: 71%;
    }
    
    #imgIcones {
        width: 7.5vw;
    }
    
}

@media screen and (max-width: 700px) {

    .container, .container2 {
        width: 40%;
    }

    #icone2 {
        top: 86%;
    }
    #icone1, #icone3 {
        top: 80%;
    }
    
    #icone1 {
        left: 4%;
    }
    
    #icone2 {
        left: 38%;
    }
    
    #icone3 {
        left: 71%;
    }
    
    #imgIcones {
        width: 9.7vw;
    }
    
}

@media screen and (max-width: 500px) {

    .container, .container2 {
        width: 50%;
        margin: 0%;
        padding: 10%;
    }

    #icone2 {
        top: 80%;
    }
    #icone1, #icone3 {
        top: 75%;
    }
    
    #icone1 {
        left: 16%;
    }
    
    #icone2 {
        left: 41%;
    }
    
    #icone3 {
        left: 65%;
    }
    
    #imgIcones {
        width: 13vw;
    }
    
    
}

@media screen and (max-width: 408px) {

    .container, .container2 {
        width: 65%;
        display: flex;
        margin: 0%;
        padding: 5%;
    }

    #icone2 {
        top: 84%;
    }
    #icone1, #icone3 {
        top: 79%;
    }
    
    #icone1 {
        left: 10%;
    }
    
    #icone2 {
        left: 41%;
    }
    
    #icone3 {
        left: 69%;
    }
    
    #imgIcones {
        width: 17vw;
    }
    
}

@media screen and (max-width: 360px) {

    .container, .container2 {
        width: 70vw;
        display: flex;
        margin: 0%;
        padding: 10%;
    }
    
}

@media screen and (max-width: 340px) {

    .container, .container2 {
        width: 80vw;
        display: flex;
        margin: 0%;
        padding: 10%;
    }
    
    
}

@media screen and (max-width: 310px) {

    .container, .container2 {
        width: 60vh;
        margin: 0%;
        padding: 5%;
        padding-top: 10%;
    }
    
}

@media screen and (max-width: 274px) {

    .container, .container2 {
        width: 70vh;
        margin: 0%;
        padding: 7%;
        padding-top: 30%;
    }
    
}

@media screen and (max-width: 200px) {

    .container, .container2 {
        width: 30vh;
        margin: 0%;
        padding: 2vh;
    }

}

@keyframes spin {
    100%{
        transform: rotate(360deg);
    }
}

